.posts {
  background-color: #EDF7FA;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding-bottom: 32px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
  }

  &__all {
    text-align: right;
    transition-duration: 200ms;
    &:hover {
      filter: saturate(3);
    }
  }
}

.post {
  background-color: white;
  border-radius: 4px;
  padding: 25px;

  &__title {
    margin-bottom: 16px;
  }

  &__tags {
    font-size: 18px;
    margin-bottom: 9px;
  }

  &__content {
    font-size: 16px;
  }
}