@import "colors";
@import "navigation";
@import "about";
@import "posts";
@import "work";
@import "socials";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--Dark);
}

footer {
  padding: 50px 0;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: var(--Secondary);
}

ul {
  list-style: none;
}

section {
  padding: 7px 148px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}



